header {
    background: #d2fffd;
    border-radius: 10px; /* deixar as pontas de um objeto redondas */
    display: block;
}

.destaques {
    text-align: center;
}

body {
    background: rgb(255, 255, 255); /* muda o fundo do elemento */
}

nav {
    background: rgb(255, 233, 237);
    border-radius: 0 0 10px 10px;
}

nav img {
    width: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: rgb(87, 154, 255);
    display: inline;
}

h1 {
    font-family: Arial, Helvetica, sans-serif; /* Família. */
    font-size: 40px; /* Tamanho da fonte. */
    color: rgb(255, 161, 177); /* Cor da fonte. */
    font-style: normal; /* Estilo da fonte. */
    font-weight: 900; /* peso da fonte. */
    text-align: center; /* Alinhamento do texto */
}

main { 
    display: flex;
    flex-wrap: wrap;
}

article {
    background: rgb(255, 233, 237);
    width: 27%; /* indica o espaço que o elemento ocupará */
    border: rgb(255, 161, 177) solid 1px; /* inserir bordas em qualquer elemento*/
    /* 
    border-top
    border-right
    border-left
    border-botton 
    */
    margin: 1% 1% 1% 1%;
    padding: 25px; /* espaçamento */
    box-sizing: border-bo;
}

article img /* ira fazer com que apenas imagens dentro dos artigos sejam impactados */ { 
    width: 100%; 
}

footer {
    border: rgb(255, 161, 177) solid 1px;
    margin: 1% 1% 1% 1%;
    padding: 15px;
    width: 94.5%;
    
    
}

