header {
    border: rgb(255, 191, 202) solid 5px;
}

Body {
    margin-left: 50px;
    margin-right: 50px;
}

body img {
    width: 100%;
}

body p {
    margin-right: 170px;
}
 
article img {
    width: 80%;
}

article {
    background-color: rgb(255, 233, 237);
    border: rgb(255, 161, 177) solid 1px;
    margin: 1% 0% 2% 0;
    padding: 25px;
}

.video {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    border: rgb(255, 161, 177) solid 1px;
    margin: 1% 1% 1% 1%;
    padding: 15px;
    width: 94.5%;
}